 a {
   cursor: pointer;
 }

/* Button*/

.serviceButton {
    top: -1rem;
}

.button-larger {
 width: 150px  !important;
}
.button {
   
    line-height: normal;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    
     width: 100px;
     
    background-color: #51c459;
    border: none;
    color: #141414;
    outline: none;
    padding: 12px 10px 10px;
   position: relative;
  
  

    &__contact {
        width:200px;
    }

    &:before, &:after {
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 24px;
  }

   
    &:before {
    border-top: 2px solid #008037;
    right: 0;
    top: -4px;
  }


    &:after {
    border-bottom: 2px solid #008037;
    bottom: -4px;
    left: 0;
  }
  
    &:hover:before,
    &:hover:after {
    width: 100%;
  }
  }
  
  
  

